---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <ul>

{% if page.deadlines.abstract %}
  <li>abstract: {{ page.deadlines.abstract | first | date: "%-d %B %Y" }}
  {% assign extensions = page.deadlines.abstract | shift %}
  {% if extensions %}
    <ul>
    {% assign count = 1 %}
    {% for extension in extensions %}
      <li>Extension {{ count }}: {{ extension | date: "%-d %B %Y" }}</li>
    {% assign count = count | plus: 1 %}
    {% endfor %}
    </ul>
  {% endif %}
  </li>
{% endif %}

{% if page.deadlines.paper %}
  <li>paper: {{ page.deadlines.paper | first | date: "%-d %B %Y" }}
  {% assign extensions = page.deadlines.paper | shift %}
  {% if extensions %}
    <ul>
    {% assign count = 1 %}
    {% for extension in extensions %}
      <li>Extension {{ count }}: {{ extension | date: "%-d %B %Y" }}</li>
    {% assign count = count | plus: 1 %}
    {% endfor %}
    </ul>
  {% endif %}
  </li>
{% endif %}

{% if page.deadlines.rebuttal %}
  <li>rebuttal period:
  {% assign start_year = page.deadlines.rebuttal | first | date: "%Y" %}
  {% assign   end_year = page.deadlines.rebuttal |  last | date: "%Y" %}
  {% if start_year == end_year %}
    {% assign start_month = page.deadlines.rebuttal | first | date: "%B" %}
    {% assign   end_month = page.deadlines.rebuttal |  last | date: "%B" %}
    {% if start_month == end_month %}
      {% assign start_day = page.deadlines.rebuttal | first | date: "%-d" %}
      {% assign   end_day = page.deadlines.rebuttal |  last | date: "%-d" %}
      {{ start_day }} &ndash; {{ end_day }} {{ start_month }} {{ page.deadlines.rebuttal | first | date: "%Y" }}
    {% else %}
      {% assign start_day = page.deadlines.rebuttal | first | date: "%-d" %}
      {% assign   end_day = page.deadlines.rebuttal |  last | date: "%-d" %}
      {{ start_day }} {{ start_month }} &ndash; {{ end_day}} {{ end_month }} {{ start_year }}
    {% endif %}
  {% else %}
    {{ page.deadlines.rebuttal | first | date: "%-d %B %Y" }} &ndash; {{ page.deadlines.rebuttal | last | date: "%-d %B %Y" }}
  {% endif %}
  </li>
{% endif %}

      <li>notification: {{ page.deadlines.notification | date: "%-d %B %Y" }}</li>
      <li>location: {{ page.location }}</li>
  </ul>

  <div class="post-content" itemprop="articleBody">
{% if page.location %}
<iframe
  width="400"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCrF25RfDKSZ9pQ0y0PC-O0qMG3U1ZyCgg&zoom=4&q={{ page.location | uri_escape }}"
  allowfullscreen>
</iframe>
{% endif %}
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
