---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <ul>

{% if page.deadlines.abstract %}
  <li>abstract: {{ page.deadlines.abstract | first }}
  {% assign extensions = page.deadlines.abstract | shift %}
  {% if extensions %}
    <ul>
    {% assign count = 1 %}
    {% for extension in extensions %}
      <li>Extension {{ count }}: {{ extension }}</li>
    {% assign count = count | plus: 1 %}
    {% endfor %}
    </ul>
  {% endif %}
  </li>
{% endif %}

{% if page.deadlines.paper %}
  <li>paper: {{ page.deadlines.paper | first }}
  {% assign extensions = page.deadlines.paper | shift %}
  {% if extensions %}
    <ul>
    {% assign count = 1 %}
    {% for extension in extensions %}
      <li>Extension {{ count }}: {{ extension }}</li>
    {% assign count = count | plus: 1 %}
    {% endfor %}
    </ul>
  {% endif %}
  </li>
{% endif %}

      <li>notification: {{ page.deadlines.notification }}</li>
      <li>location: {{ page.location }}</li>
  </ul>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
